/* Dark menu hovers */
.is-dark .menu-list a:hover,
.is-dark .menu-list a.is-active { color: #363636; background-color: #f5f5f5; }

/* Dark menu active hovers */
.is-dark .menu-list a.is-active,
.is-dark .menu-list a.is-active:hover {
  color: #363636; background-color: #ddd; font-style: italic;
}

/* Dark menu code colors */
code { background-color: transparent; padding: 0; }
.is-dark code { color: goldenrod }
.is-dark a:hover code,
.is-dark a.is-active code { color: black }
/* Menu link spacing */
.menu-list a { display: block; margin-bottom: 1px; float: left; clear: left }
.menu-list:after { content: ''; display: table; clear: both; }
/* Menu muting when objective selected */
.menu-list.is-muted { opacity: 0.8 }

/* Don't indent menus */
menu {padding: 0;}

.is-strikeout { text-decoration: line-through; }
.min-content { min-height: 100vh; }


.login-screen, .loading-screen {
  display: flex;
  height: 100vh;
}
.login-screen > *, .loading-screen > * {
  margin: auto;
}
.loading-screen .fa {
  animation: fa-spin 5s infinite linear;
}
.login-button, .account-button {
  cursor: pointer;
  height: auto;
  border: solid 2px hsl(0, 0%, 96%) !important;
}
.login-button .fa-github, .account-button .fa-github {
  font-size: 2em;
  vertical-align: middle;
  margin-right: 0.2em;
}
.account-button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1em;
}
